@import "tailwindcss";

:root {
  --border: hsl(0 0% 14.9%);
  --background: hsl(0 0% 0%);
  --foreground: #fafafa;
  --foreground-muted: hsl(0 0% 63.9%);
  --button-bg: hsl(0, 0%, 80%);
  --card-background: hsl(0, 0%, 3.9%);

    /* Brand & Action Colors */
  --primary: #7eaff5;
  --primary-hover: #61789d;
  --primary-light: #E6F0FF;
  --primary-dark: #003C88;

    /* UI States */
  --active: var(--primary);
  --hover: var(--primary-hover);
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* flex-wrap: wrap; */
}

section {
  padding-bottom: 70px
}

.title {
  @apply bg-gradient-to-b from-[var(--foreground)] to-[var(--foreground-muted)] bg-clip-text text-transparent;
}

.input-style {
  @apply w-full border border-[var(--border)] rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-blue-500;
}


@layer utilities {
  @keyframes skeleton {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
  }

  .animate-skeleton {
    animation: skeleton 1.6s ease-in-out infinite;
  }
}